<footer id="footer">
  <div class="footer-left">
    <%= __('footer.copyright') %> &copy;
    <% var endYear = (theme.copyright && theme.copyright.end_year) ? theme.copyright.end_year : new Date().getFullYear() %>
    <% var startYear = (theme.copyright && theme.copyright.start_year) ? theme.copyright.start_year : new Date().getFullYear() %>
    <%= startYear >= endYear ? endYear : startYear + "-" + endYear %>
    <%= config.author || config.title %>
  </div>
  <script>
        async function ackeeAnalytics() {
            await sleep(2000);
            console.log('Ackee Analytics by kaaaxcreators');
            const instance = ackeeTracker.create('https://ackee.server.kaaaxcreators.de', {
                detailed: true
            })
            instance.record('8b2a3968-df37-4c58-a3f3-59ef01038954')
        }

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        ackeeAnalytics();
    </script>
  <div class="footer-right">
    <nav>
      <ul>
        <% for (var i in theme.nav) { %> 
          <li><a href="<%- url_for(theme.nav[i]) %>"><%= __('nav.'+i).replace("nav.", "") %></a></li>
        <% } %>
      </ul>
    </nav>
  </div>
</footer>
